<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <!-- <title>Dashboard </title> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="../static/assets/images/favicon.ico">

        <!-- third party css -->
        <link href="../static/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- third party css end -->

        <!-- App css -->
        <link href="../static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="../static/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style"/>

    </head>

    <body class="loading" data-layout-color="light" data-leftbar-theme="dark" data-layout-mode="fluid" data-rightbar-onstart="true">
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">
    
                <!-- LOGO -->
                <!-- <a href="index.html" class="logo text-center logo-light"> -->
                    <!-- <span class="logo-lg"> -->
                        <!-- <img src="assets/images/logo.png" alt="" height="16"> -->
                    <!-- </span> -->
                    <!-- <span class="logo-sm"> -->
                        <!-- <img src="assets/images/logo_sm.png" alt="" height="16"> -->
                    <!-- </span> -->
                <!-- </a> -->

                <!-- LOGO --> 
                <!-- <a href="index.html" class="logo text-center logo-dark"> -->
                    <!-- <span class="logo-lg"> -->
                        <!-- <img src="assets/images/logo-dark.png" alt="" height="16"> -->
                    <!-- </span> -->
                    <!-- <span class="logo-sm"> -->
                        <!-- <img src="assets/images/logo_sm_dark.png" alt="" height="16"> -->
                    <!-- </span> -->
                <!-- </a> -->
    
                <div class="h-100" id="leftside-menu-container" data-simplebar>

                    <!--- Sidemenu -->
                    <ul class="side-nav">

                        <li class="side-nav-title side-nav-item">Navigation</li>

                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#dashboard" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                                <i class="uil-home-alt"></i>
                                <span class="badge bg-success float-end"></span>
                                <span> Dashboards </span>
                            </a>
                            <div class="collapse" id="dashboard">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="/dashboard">Dashboard Viajes</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#destino" aria-expanded="false" aria-controls="destino" class="side-nav-link">
                                <i class="uil-home-alt"></i>
                                <span class="badge bg-success float-end"></span>
                                <span> Destinos </span>
                            </a>
                            <div class="collapse" id="destino">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="/destinos">Destinos disponibles</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        
                    </ul>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-menu float-end mb-0">
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                                    aria-expanded="false">
                                    <span class="account-user-avatar"> 
                                        <img src="../static/assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                                    </span>
                                    <span>
                                        <span class="account-user-name">Mauro Perelda</span>
                                        <span class="account-position">mauroperelda10@gmail.com</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <button class="button-menu-mobile open-left">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </div>
                    <!-- end Topbar -->
                    
                    <!-- Start container-->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    {% block content %}{% endblock %}
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- container -->
                </div>
                <!-- content -->
            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <div class="rightbar-overlay"></div>
        <!-- /End-bar -->

        <!-- bundle -->
        <script src="../static/assets/js/vendor.min.js"></script>
        <script src="../static/assets/js/app.min.js"></script>

        <!-- third party js -->
        <script src="../static/assets/js/vendor/apexcharts.min.js"></script>
        <script src="../static/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="../static/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
        <!-- third party js ends -->

        <!-- demo app -->
        <script src="../static/assets/js/pages/demo.dashboard.js"></script>
        <!-- end demo js-->

        {% block scripts %}{% endblock %}
    </body>
</html>