{% extends "Layout.html" %}


{% block title %}Reservas{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <label for="simpleinput" class="form-label">Buscar reservas por usuario</label>
        <div class="input-group">
            <input type="text" class="form-control" id="search-query" placeholder="Ingrese usuario">
            <button type="button" class="btn btn-primary" onclick="searchReservas()">Buscar</button>
        </div>
    </div>
</div>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cupo</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <!-- <th>Destino</th> -->
        </tr>
    </thead>
    <tbody id="paquetes-destinos">
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}