{% extends "Layout.html" %}


{% block title %}Reservas{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <label for="simpleinput" class="form-label">Reservas</label>
        <div class="input-group">
            <!-- <input type="text" class="form-control" id="search-query" placeholder="Ingrese usuario">
            <button type="button" class="btn btn-primary" onclick="searchReservas()">Buscar</button> -->
        </div>
    </div>
</div>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Nombre Paquete</th>
            <th>Fecha Reserva</th>
            <th>Cantidad Personas</th>
            <!-- <th>Destino</th> -->
        </tr>
    </thead>
    <tbody id="paquetes-destinos">
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        searchReservas();
    });

    async function searchReservas() {
        debugger;
        try {
            const response = await fetch(`api/ACT-RESERVA`);
            if (!response.ok) {
                const errorData = await response.json();
                alert(`Error: ${errorData.message}`);
                return;
            }
            const results = await response.json();
            console.log(results);
            const list = document.getElementById('paquetes-destinos');
            list.innerHTML = '';
            results.forEach(reserva => {
                const listItem = document.createElement('tr');
                listItem.innerHTML = `
                    <td>${reserva.nombre_paquete}</td>
                    <td>${reserva.fecha_reserva}</td>
                    <td>${reserva.cantidad_personas}</td>
                `;
                list.appendChild(listItem);
            });
        } catch (error) {
            console.error('Error buscando reservas:', error);
            alert('Error al buscar reservas');
        }
    }
</script>
{% endblock %}